<strong>Olá, {{ student_name }}</strong>
<p>Seu pedido de auxílio foi respondido, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta:</strong> {{ question }} <br />
  <br />
  <strong>Resposta:</strong> {{ answer }} <br />
  <br />
  <small>
    Os instrutores da GymPoint estarão sempre disponíveis para você!.
  </small>

</p>
